
#app {

  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;

  font-weight: normal; */
}



body {
  padding: 0;
  margin: 0;
  background-color: #1E1E1E;
}
p {
  margin: 0;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #111111c1;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #a5a5a5d7;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #6a6a6a;
}